body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background-color: #0f0f0f; /* Set the dark background color */
  color: #ffffff; /* Set default text color to match the theme */
  font-family: 'Roboto Slab', serif; /* Set a consistent font for the whole page */
}


